:root {
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #004AAD;
    color: #fff;
    padding: 5rem 2rem;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #000;
    margin-bottom: 1.5rem;
    text-align: center;
}

main {
    padding: 0 5rem;
}

.container-informations {
    display: grid;
}

.sub-container-informations {
    display: grid;
    margin-top: 1.5rem;
}

.title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.subtitle {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.text {
    line-height: 2rem;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    margin-top: 1.5rem;
}

.separator-horizontal {
    background-color: #000;
    height: 1px;
    margin: 2.5rem 0;
}

.separator-vertical {
    background-color: #000;
    width: 1px;
    margin: 0 2rem;
}

.bold {
    font-weight: 500;
    margin-bottom: 0;
}

ul {
    margin-left: 1.25rem;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.center {
    text-align: center;
}

.div-link {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.link-icon {
    font-size: 2rem;
    margin-right: 1.5rem;
}

.linkedin {
    color: #0077b5;
}

.github {
    color: #211f1f;
}

.instagram {
  background-image: linear-gradient(to left bottom, #8f37b4, #a145c6, #d13492, #ff103d, #ff010a, #ff3900, #ff8400, #ffca00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.twitter {
    color: #08a0e9;
}

.messenger {
    background-image: linear-gradient(to left bottom, #ff6171, #ff49a2, #e73dd0, #a839ff, #8f47ff, #7453ff, #4864ff, #286cff, #0079ff, #008aff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
    color: var(--text-color);
    text-decoration: none;
}

.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.6;
}

@media screen and (min-width:750px) {
    main {
        padding: 0 10rem;
    }
}

@media screen and (min-width:1024px) {
    main {
        padding: 0 15rem;
    }
}